body {
  margin: 0;
  padding: 0; }

#products-grid-table {
  margin: 0;
  padding: 0; }

.bestsellers {
  max-width: 1280px;
  margin: 20px auto 325px;
  clear: both; }

.bestsellers .bestsellers-title-block {
  text-align: center;
  margin-bottom: 10px; }

.bestsellers .bestsellers-title {
  font-style: italic;
  letter-spacing: 0.1em !important;
  font-size: 38px !important;
  font-family: "Times New Roman",Georgia,Serif;
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: normal; }

.sub-heads {
  font-style: normal;
  letter-spacing: .02em;
  margin: 0 auto 30px;
  font-size: 20px;
  text-align: center;
  font-family: 'Pathway Gothic One',sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 5px;
  text-transform: uppercase; }

.bestsellers ul li {
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  width: 24.5%;
  background: none;
  border-right: 1px solid #efefef;
  min-height: initial;
  padding: 0;
  margin: 0 0 35px 0; }

@media only screen and (max-width: 767px) {
  .bestsellers ul li {
    width: 49.5%;
    background: none; } }

.bestsellers ul li span.pro-img {
  display: block;
  text-align: center;
  width: 99%;
  margin: 0 auto; }

.bestsellers ul li:nth-child(4n), .bestsellers ul li:nth-child(4n) {
  border-right: 0;
  background: none; }

.bestsellers ul li p a {
  color: #3b3b3b;
  padding: 0;
  font-family: 'Pathway Gothic One',sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important; }

.bestsellers ul li p {
  margin: 0;
  padding: 0; }

.price-box {
  margin-bottom: .5625em; }

.bestsellers ul li span.price div.price-box span {
  color: #a1a0a0;
  display: block;
  padding: 0;
  text-align: center;
  font-family: "Times New Roman",Georgia,Serif; }

.bestsellers .bestsellers-title:before {
  left: 105%; }

.bestsellers .bestsellers-title:after {
  right: 105%; }

.bestsellers .bestsellers-title:after, .bestsellers .bestsellers-title:before {
  content: ' ';
  height: 1px;
  width: 60px;
  background: none repeat scroll 0 0 #ccc;
  position: absolute;
  top: 50%; }

.bestsellers .bestsellers-title:after, .bestsellers .bestsellers-title:before {
  min-width: 667px;
  background: #efefef;
  box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.1); }

/* product pages */
.pr-image-block {
  float: left;
  width: 50%;
  position: relative; }

.pr-data-block {
  float: right;
  width: 45%;
  border-left: 1px dashed #e6e6e6;
  padding-left: 30px; }

.catalog {
  position: absolute;
  width: 100%; }

/* ANIMATIONS (FROM ANIMATE.CSS) */
@-webkit-keyframes highlightTokens {
  0% {
    border-color: darkorange; }
  100% {
    border-color: black; } }

/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
