<!--<div class="bestsellers anim-slide-below-fade" data-anim-sync="true" ng-repeat="result in getCatalog">
    <section clss="products-grid" id="products-grid-table">

            <div class="bestsellers-title-block" ng-init="cat = result.CategoryUniqueID">
                <h3 class="bestsellers-title">{{ result.Name || 'No Data' }}</h3>
            </div>

            <ul class="products-grid" id="products-grid-table">

                <li ng-repeat="result in getProducts" ng-if="result.CategoriesID | contains: cat">
                    <span class="pro-img">
                        <a ui-sref="product-details({ productId: result.ProductUniqueID })">
                            <img ng-src="{{ result.ImageUrlThumb || 'No Data' }}"
                                 alt="{{ result.Name || 'No Data' }}">
                        </a>
                    </span>
                    <p><a ui-sref="product-details({ productId: result.ProductUniqueID })">{{ result.Name || 'No Data' }}</a></p>
                    <span class="price">
                        <div class="price-box">
                            <span>{{ result.Price || 'No Data' }}</span>
                        </div>
                    </span>
                </li>
            </ul>
    </section>
</div>-->
<div class="container">

        <div class="row">
            <div class="bestsellers anim-slide-below-fade">
                <div ng-repeat="category in getCatalog">
                    <div class="row">
                        <div class="bestsellers-title-block">
                            <h3 ng-init="cat = category.CategoryUniqueID" class="bestsellers-title">{{ category.Name || 'No Data' }}</h3>
                        </div>
                    </div>
                    <div class="row">
                    <flex-slider flex-slide="product in getProducts track by $index">
                        <li ng-if="product.CategoriesID | contains: cat">
                                <div class="borderbox">
                                    <span class="pro-img">
                                        <a ui-sref="product-details({ productId: product.ProductUniqueID })"> <img ng-src="{{ product.ImageUrlThumb }}" class="img-responsive" alt="a" /></a>
                                    </span>
                                    <p><a ui-sref="product-details({ productId: product.ProductUniqueID })">{{ product.Name || 'No Data' }}</a></p>
                                    <span class="price">
                                        <div class="price-box">
                                            <span> {{ product.Price || 'No Data' }}</span>
                                        </div>
                                     </span>
                                </div>
                        </li>
                    </flex-slider>
                    </div>
                </div>
            </div>
        </div>


</div>











